<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>720092611612-r0qv5h6l0henuo2ur8oh2uepma2fhucf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.720092611612-r0qv5h6l0henuo2ur8oh2uepma2fhucf</string>
	<key>API_KEY</key>
	<string>AIzaSyD5-8yDhd9Tl1hvHH4TBIZyyBmVsufedps</string>
	<key>GCM_SENDER_ID</key>
	<string>720092611612</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MihailKisluhin.novoyaz</string>
	<key>PROJECT_ID</key>
	<string>vocabulary-fcfa0</string>
	<key>STORAGE_BUCKET</key>
	<string>vocabulary-fcfa0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:720092611612:ios:0d6b78b3cb042ffdf7cbd9</string>
</dict>
</plist>